<header>
  <div class="container-fluid">
          <div class="row justify-content-between align-items-center">
              <div class="col-2 d-none d-md-block">
                  <a routerLink="/home">
                      <img id="logoHeader" src="../../assets/img/logo_beers_journey.png" alt="logo Beer's Journey  " class="responsive center">
                  </a>
              </div><!-- col -->
              <div class="col-10">
                  <h1>Beer's Journey</h1>
                  <h4><span class="signature"> by Dag Vinyard</span></h4>
              </div><!-- col -->
          </div><!-- row -->
  </div><!-- container-fluid -->
</header>
