<section>
  <div class="container-fluid sectionContain" id="sectionPage">
      <div class="row">
          <div class="col-12 text-center">
          <h2 class="tittleSection">Beer's Journey</h2>
      </div><!--col-->
      </div><!--row-->

      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 bgCoin">
              <div class="coin">
                  <a href="quarantine.html">
                      <div class="box3d pic1">
                          <div class="textCoin">
                              <h3>My Beers</h3>
                              <ul>
                                  <li>New Beers</li>
                                  <li>Beer Styles</li>
                                  <li>Beer Glassware</li>
                              </ul>
                          </div>
                      </div>
                      <div class="box3d pic2">
                          <div class="tittleCoin">Beers</div>
                      </div>
                  </a>
              </div> <!--coin-->
          </div><!--col-->
          <div class="col-sm-12 col-md-6 col-lg-4 bgCoin">
              <div class="coin">
                  <a href="quarantine.html">
                      <div class="box3d pic3">
                          <div class="textCoin blackLetter">
                              <h3>My<br>Breweries</h3>
                              <ul>
                                  <li>New Breweries</li>
                                  <li>Tap Beers</li>
                              </ul>
                          </div>
                      </div>
                      <div class="box3d pic4">
                          <div class="tittleCoin">Breweries</div>
                      </div>
                  </a>
              </div> <!--coin-->
          </div><!--col-->
          <div class="col-sm-12 col-md-12 col-lg-4 bgCoin">
              <div class="coin">
                  <a href="quarantine.html">
                      <div class="box3d pic5">
                          <div class="textCoin blackLetter">
                              <h3>My Events</h3>
                                  <ul>
                                      <li>OktoberFest</li>
                                      <li>Saint Patricks</li>
                                      <li>Craft Beer Events</li>
                                  </ul>
                          </div>
                      </div>
                      <div class="box3d pic6">
                          <div class="tittleCoin">Events</div>
                      </div>
                  </a>
              </div> <!--coin-->
          </div><!--col-->
      </div><!--row-->
      <div class="row">
          <div class="col-12 text-center">
              <a href="https://www.instagram.com/dagbeernyard/" target="_blank" class="leprechaund">
                  <img src="../../assets/img/leprechaund_simpson.gif" alt="leprechanund dancing" height="200px">
              </a>
          </div><!--col-->
      </div><!--row-->
  </div><!--container-->
</section>
