section .form_tittle{
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

section #contactForm{
  margin-top: 30px;
}
section #contactForm label{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  padding-right: 20px;
}
section #contactForm input,
section #contactForm select {
  min-height: 50px;
}
section #contactForm #selectCountry{
  height: 50px;
}
section #contactForm .form-check-label{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
}
section #contactForm .correctInput{
  display: none;
}
section #contactForm .errorForm{
  display: block;
  color: #ff0000;
  margin-bottom: 0px;
}
section #contactForm .blocPassword{
  position: relative;
}
section #contactForm .blocPassword img {
  position: absolute;
  top: 63px;
  right: 11px;
}
section #contactForm .blocPassword #closedEyeP,
section #contactForm .blocPassword #closedEyeRP{
  display: none;
}
section #contactForm .btn-warning {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  border-radius: 10px;
  padding: 12px 24px 6px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
